#preview {
  background-color: #000;
  border-radius: $section-border-radius;
  margin-bottom: $section-margin - 2px;
  margin-right: $section-margin;
  margin-top: 2px;
  overflow: hidden;
  position: relative;
}
